:root { 
    /* color palette */
    --PubText:            #22310d;
    --PubBackground:      rgb(217, 223, 167);    
    --text2:              #3f2207;
    --BtnText:            #ffffff;
    --Background:         #f0f0f0;
    --BtnBackground:      #76B3FA;

} 
/* style for public adress */
.style-public-adress {
  font-family:monospace;
  font-size: 3.3vw;
  border-radius: 4.0vw;
  border: 0.3vw solid var( --PubText);
  background-color:var( --PubBackground);
  padding: 4.0vw; 
  text-align: center;
  color : var( --PubText);
  margin-left: 3vw;
  margin-right: 3vw;          
}
/* style for private keys, private extended keys, secret bip49 phareses, ... */
#secret {
  font-family:monospace;            
  font-size: 4.5vw;
  border-radius: 4.0vw;
  border: 0.3vw solid var( --text2);
  color : var( --text2);
  background-color: rgb(204, 145, 67);
  padding: 5.0vw; 
  text-align: left;
  margin-left: 3vw;
  margin-right: 3vw;
}        
.label-zone {
  font-family:Arial, Helvetica, sans-serif;  
  font-size: 3.5vw;   
  color : rgb(3, 3, 36);
  text-align: left;
}
#error {
  font-family:monospace;  
  font-size: 3.5vw;   
  color : rgb(71, 71, 71);
}
#numword {
  color:#383737;     
  text-align: center;

}
button {
    font-size: 3.5vw;
    background: var(--BtnBackground);
    border-radius: 1.0vw;
    border-width: 0;
    color : var(--BtnText);
    outline: none;
    padding-top:   1.0vw; 
    padding-bottom:1.0vw; 
    padding-left:  3.0vw; 
    padding-right: 3.0vw;
    margin: 0.2vw;
    
}
button:hover {
    background: #98aec7;

}        
button:active {
    background: #627488;

}        
input {
  font-size: 3.5vw;
  border-radius: 1.0vw;
  border-width: 1;  
  font-size: 3.5vw;
  padding-top:   1.0vw; 
  padding-bottom:1.0vw; 
  padding-left:  1.0vw; 
  padding-right: 1.0vw;
  margin: 0.2vw;  
}
::placeholder {
  color: #999;
  opacity: 0.5;
}
body { background-color: var(--Background); }

.secretInput {
  font-family:monospace;            
  font-size: 4vw;
  width:     90%;
  height:    19.5vw;         
  margin:    0.2vw;
}
.lastword {
  background:   #8be7bc;
  color :       black;
}
.extendedkey {
  overflow-wrap: break-word;
}
.btnZone {
  text-align: center;
}
.line-break {
  height: 30px;
  display: block;
}
.flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  padding: 20px;
}
.progress-bar {
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 5px;
  overflow: hidden;
}
.progress {
  width: 0;
  height: 20px;
  background-color: #4CAF50;
  animation: progress 2s linear infinite;
}
@keyframes progress {
  0% { width: 0; }
  100% { width: 100%; }
}